<%- include("partials/header") %>

<div class="d-flex justify-content-center align-items-center vh-100 m-3">
  <form action="/add-contact" class="add-contact-form shadow-lg p-4 rounded-4" method="post">
    <h1 class="text-center mb-3 text-primary">Add Contact</h1>
    <% if (errormsg && errormsg !== "") { %>
      <p class="text-center text-danger fw-semibold"><%= errormsg %></p>
    <% } %>
    <div class="form-group mb-3">
      <label for="contactName">Enter the contact name:</label>
      <input type="text" class="form-control" id="contactName" name="contactName" placeholder="Enter contact name..." autocomplete="off" required>
    </div>
    <div class="form-group mb-3">
      <label for="contactNumber">Enter the contact number:</label>
      <input type="number" class="form-control" id="contactNumber" name="contactNumber" placeholder="Enter contact number..." autocomplete="off"
        oninput="if (this.value.length > 10) { this.value = this.value.slice(0, 10); }" required>
    </div>
    <button class="btn btn-primary w-100">
      <i class="fa-solid fa-plus"></i> Add Contact
    </button>
  </form>
</div>

<%- include("partials/footer") %>
