<%- include("partials/header") %>

<div class="d-flex justify-content-center align-items-center vh-100">
  <form class="signin-form shadow-lg p-4 rounded-4" action="/delete-account" method="post">
    <h1 class="text-center mb-3 text-danger fw-bold">Delete Account</h1>
   <% if (errormsg && errormsg !== "") { %>
      <p class="text-center text-danger fw-semibold"><%= errormsg %></p>
    <% } %>
    <div class="form-group mb-3">
      <label for="delName">Enter username:</label>
      <input type="text" class="form-control" id="delName" name="delName" placeholder="Enter username..." autocomplete="off" required>
    </div>
    <div class="form-group mb-3">
      <label for="delPassword">Enter password:</label>
      <input type="password" class="form-control" id="delPassword" name="delPassword" placeholder="Enter password..." autocomplete="off" required>
    </div>
    <button class="btn btn-danger w-100 mb-3">
      <i class="fa-solid fa-trash"></i> Delete Account
    </button>
    <div class="text-center">
      <a href="/" class="text-decoration-none">Go back</a>
    </div>
  </form>
</div>

<%- include("partials/footer") %>
